@font-face {
  font-family: SFProText;
  font-weight: 600;
  font-style: normal;
  src: local("SFProText"),
    url("../fonts/SFProText-Semibold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: 300;
  font-style: normal;
  src: local("HelveticaNeue"),
    url("../fonts/HelveticaNeue-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: 400;
  font-style: normal;
  src: local("HelveticaNeue"),
    url("../fonts/HelveticaNeue-Roman.woff2") format("woff2");
  font-display: swap;
}
