:root {
  --backgrond: #0a1d2a;
  --text: #f9f9f9;
  --subtext: #c2c7d4;
  --accent: #be3455;

  --transition: 0.5s;

  --font-family: "Source Code Pro", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "SF Pro Text", sans-serif;
  --font3: "Sora", sans-serif;
  --font4: "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.wrapper.overflow-none {
  overflow-x: visible;
  -ms-overflow-style: none; /* для IE и Edge */
  scrollbar-width: none; /* для Firefox */
}

.wrapper.overflow-none::-webkit-scrollbar {
  display: none; /* для Chrome, Safari, Opera */
  width: 0;
}

main {
  flex-grow: 1;
}

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background: var(--backgrond);
  color: var(--text);
}

.container {
  max-width: 1328px;
  padding: 0 40px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  object-fit: cover;
}

object {
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

.red-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  border-radius: 128px;
  padding: 16px 24px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.04);
  background: var(--accent);
  line-height: 150%;
  color: #fff;
  cursor: pointer;
  max-width: fit-content;
}
.btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--subtext);
  border-radius: 128px;
  padding: 16px 24px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.04);
  background: transparent;
  cursor: pointer;
  transition-duration: var(--transition);
  max-width: fit-content;
}

.btn:hover {
  border-color: var(--accent);
}

// ------------------------header--------------

.header {
  padding-top: 24px;
}

.header-row {
  display: flex;
  gap: 24px;
  align-items: center;
  max-width: 1328px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header-menu > .menu-item:not(:last-child) {
  margin: 0 16px 0 0; // Расстояние между пунктами 1-го уровня
}

.header-menu > .menu-item a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: var(--text);
  text-decoration: none;
  text-wrap-mode: nowrap;
  transition-duration: var(--transition);
}

.header-menu > .menu-item a:hover {
  color: var(--accent);
}

.header-menu > li.current-menu-item > a {
  color: var(--accent);
}

.header-search {
  position: relative;
  width: 100%;
}

.swiper-button-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 1px solid var(--text);
  border-radius: 1000px;
  background: transparent;
  cursor: pointer;
  transition-duration: var(--transition);
}

.swiper-button-custom path {
  transition-duration: var(--transition);
}

.swiper-button-custom:hover {
  border-color: var(--backgrond);
  background: #a0a7ba;
}

.swiper-button-custom:hover path {
  stroke: #0a1d2a;
}

.header-search input {
  width: 100%;
  border: 1px solid #2b3b46;
  border-radius: 48px;
  padding: 12px 20px 12px 54px;
  background: #02253d;
  height: 48px;
  min-width: 288px;
  color: var(--text);
  line-height: 150%;
  transition-duration: 0.7s;
}

.header-search input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666;
}

.header-search button {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translate(0%, -50%);
  background: transparent;
  transition-duration: var(--transition);
}

.header-search button svg path {
  transition-duration: var(--transition);
}

.header-search button:hover svg path {
  fill: var(--accent);
}

.language-use {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.language-use span {
  font-size: 18px;
  line-height: 160%;
  color: var(--text);
  transition-duration: var(--transition);
}

.language-use span:hover {
  color: var(--accent);
}

.language-menu {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-duration: var(--transition);
  position: absolute;
  top: 100%;
  left: 0;
}

.language-menu.showw {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.language-menu span {
  font-size: 18px;
  line-height: 160%;
  color: var(--text);
  transition-duration: var(--transition);
  cursor: pointer;
}

.language-menu span:hover {
  color: var(--accent);
}

.language {
  position: relative;
}

.burger {
  transition-duration: var(--transition);
}

.burger:hover {
  fill: var(--accent);
}

.header-bigMenu {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-duration: var(--transition);
  transform: translateY(-100%);
  border-top: 1px solid rgba(151, 154, 160, 0.5);
  position: relative;
  height: 0;
}

.header-bigMenu.show {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
  transform: translateY(0%);
  height: auto;
  padding-top: 10px;
  margin-top: 10px;
}

.header-menu {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.burger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 26px;
  height: 26px;
}

.burger::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/header/burger-open-hover.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  opacity: 0;
  transition-duration: var(--transition);
}

.burger path {
  transition-duration: var(--transition);
}

.burger:hover::after {
  opacity: 1;
}

.burger.show:hover::after {
  display: none;
}

.burger.show:hover path {
  fill: var(--accent);
}

.burger.none {
  display: none;
}

.header-logo {
  display: block;
  width: 100%;
  max-width: 138px;
}

.header-logo.none {
  display: none;
}

.language-arrow {
  width: 24px;
  height: 24px;
  transition-duration: var(--transition);
}

.language-arrow.show {
  transform: rotate(180deg);
}

.burger-close {
  display: none;
  opacity: 0;
  transition-duration: var(--transition);
}

.burger-open {
  animation: fadeIn 1s forwards;
}

.burger.show .burger-close {
  display: block;
  opacity: 1;
  animation: fadeIn 1s forwards;
}

.burger.show .burger-open {
  display: none;
  opacity: 0;
}

.header-bigMenu .menu-item a {
  padding: 24px 16px;
  line-height: 131%;
  color: var(--text);
  display: block;
  transition-duration: var(--transition);
}

.header-bigMenu .menu-item a:hover {
  color: var(--accent);
}

.language-bigMenu {
  display: flex;
  gap: 36px;
  align-items: center;
  padding: 24px 16px;
}

.language-row {
  display: flex;
  gap: 24px;
}

.lang {
  line-height: 160%;
  color: var(--text);
  transition-duration: var(--transition);
}

.lang:hover {
  color: var(--accent);
}

.lang.active {
  color: var(--accent);
}

.bg-bigMenu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 25%;
}

.bg-bigMenu img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.bg-circle-bigMenu {
  position: fixed;
  left: -10%;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition-duration: var(--transition);
  background: #a3a3a3;
  filter: blur(190px);
  border-radius: 100%;
  width: 400px;
  height: 400px;
  z-index: -1;
}

.bg-circle-bigMenu.show {
  opacity: 1;
}

.header-bigMenu .sub-menu .menu-item a {
  display: flex;
  gap: 8px;
  max-width: 305px;
  padding: 0;
}

.menu-info-title {
  font-weight: 600;
  line-height: 125%;
  color: #fff;
  margin-bottom: 4px;
  transition-duration: var(--transition);
}

.menu-info-text {
  font-size: 14px;
  line-height: 125%;
  color: var(--subtext);
}

.header-bigMenu .sub-menu {
  display: flex;
  gap: 54px;
  flex-wrap: wrap;
  margin-left: 16px;
}

.header-bigMenu .menu-item .menu-item-children-link {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 24px 16px;
  cursor: pointer;
  transition-duration: var(--transition);
}

.menu-item-children-link:hover {
  color: var(--accent);
}

.arrow-menu {
  display: flex;
  transition-duration: var(--transition);
  width: 14px;
}

.arrow-menu.show {
  transform: rotate(180deg);
}

.header-bigMenu .sub-menu {
  animation: fadeOut 0.5s forwards;
  opacity: 0;
  pointer-events: none;
}

.header-bigMenu .sub-menu.show {
  display: flex;
  opacity: 1;
  animation: fadeIn 1s forwards;
  pointer-events: visible;
}

.header-bigMenu .sub-menu .menu-item a:hover {
  opacity: 0.7;
}

.menu-icons {
  flex-shrink: 0;
}

.menu-item-submenu a {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.header-bigMenu-services h3 {
  line-height: 131%;
  color: var(--text);
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 1520px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
}

.header-bigMenu-services {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-duration: var(--transition);
  transform: translateY(-100%);
  border-top: 1px solid rgba(151, 154, 160, 0.5);
  position: relative;
  height: 0;
}

.header-bigMenu-services.show {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
  transform: translateY(0%);
  height: auto;
  margin-top: 10px;
  padding-top: 10px;
}

.header-bigMenu-services .sub-menu {
  display: flex;
  gap: 54px;
  flex-wrap: wrap;
  max-width: 1520px;
  padding-left: 40px;
  padding-right: 240px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.header-bigMenu-services .sub-menu .menu-item a {
  display: flex;
  gap: 8px;
  max-width: 305px;
  padding: 0;
  transition-duration: var(--transition);
}

.header-bigMenu-services .sub-menu .menu-item a:hover {
  opacity: 0.7;
}

.header:has(.show) {
  background: var(--backgrond);
}

// --------------search---------------------------

.header-bigMenu-search {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-duration: var(--transition);
  transform: translateY(-100%);
  border-top: 1px solid rgba(151, 154, 160, 0.5);
  position: relative;
  height: 0;
  position: absolute;
  top: 100px;
  z-index: 10;
  background: var(--backgrond);
}

.header-bigMenu-search.show {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
  transform: translateY(0%);
  height: auto;
  padding-top: 10px;
  margin-top: 5px;
  padding-bottom: 72px;
  width: 100%;
}

.header-search-title {
  line-height: 131%;
  color: var(--text);
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 1520px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
}

.header-bigMenu-search .sub-menu {
  display: flex;
  gap: 54px;
  flex-wrap: wrap;
  padding-left: 40px;
}

.header-bigMenu-search .sub-menu .menu-item a {
  display: flex;
  gap: 8px;
  max-width: 305px;
  padding: 0;
  transition-duration: var(--transition);
}

.header-bigMenu-search .sub-menu .menu-item a:hover {
  opacity: 0.7;
}

.header-bigMenu-search .search-block {
  max-width: 1520px;
  padding-left: 40px;
  padding-right: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}

.search-wrapper {
  padding-left: 40px;
  display: flex;
  gap: 54px;
  flex-wrap: wrap;
}

.serch-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  max-width: 305px;
}

.header-search.show input {
  opacity: 1;
}

.header-search.show button {
  right: 15px;
}

// --------------search---------------------------

// -----------------------footer-------------------------

.footer {
  padding-top: 152px;
  padding-bottom: 176px;
  background: #101328;
}

.footer-wrap {
  display: flex;
  gap: 84px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.footer-left input {
  border: 1px solid #2b3b46;
  border-radius: 48px;
  padding: 12px 20px;
  background: #02253d;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 12px;
  width: 100%;
}

.footer-right {
  width: 50%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-right-title {
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #fff;
  display: block;
}

.footer-right dl {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-info-row {
  display: flex;
  gap: 8px;
  align-items: center;
}

.procherk {
  font-weight: 400;
  line-height: 160%;
  color: #fff;
  text-decoration: none;
  display: block;
}

.footer-info-row dt a {
  font-weight: 400;
  line-height: 160%;
  color: #fff;
  text-decoration: none;
  transition-duration: var(--transition);
}

.footer-info-row dt a:hover {
  color: var(--accent);
}

.footer-info-row dd {
  font-weight: 400;
  line-height: 160%;
  color: #fff;
}

.footer-socials {
  display: flex;
  gap: 24px;
  margin-top: 42px;
  margin-bottom: 42px;
}

.footer-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.footer-socials a path {
  transition-duration: var(--transition);
}

.footer-socials a:hover path {
  fill: var(--accent);
}

.footer-right-blocks {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.footer-adress {
  max-width: 240px;
  color: #fff;
}

.footer-adress span {
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.01em;
  display: block;
  margin-bottom: 16px;
}

.footer-adress p {
  font-weight: 400;
  line-height: 160%;
}

.footer-language span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #fff;
  margin-bottom: 16px;
}

.footer-language-link {
  display: flex;
  gap: 24px;
}

.footer-language-link a {
  font-weight: 400;
  line-height: 160%;
  color: var(--text);
  text-decoration: none;
  transition-duration: var(--transition);
}

.footer-language-link a:hover {
  color: var(--accent);
}

.footer-language-link a.active {
  color: var(--accent);
}

// -----------form--------------------------------

.form-custom {
  padding: 60px;
  border: 1px solid #5e6d83;
  border-radius: 20px;
  max-width: 1183px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.form-row {
  display: flex;
  gap: 18px;
  margin-bottom: 40px;
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  z-index: 3;
}

.form-block:has(.wpcf7-form-control-wrap .choices) {
  z-index: 5;
  position: relative;
}

body.scroll-off {
  overflow: hidden;
}

.form-custom label {
  line-height: 150%;
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

body:has(.popup-form.show) {
  overflow: hidden;
}

.form-custom input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--subtext);
  padding: 16px 20px;
  border: 1px solid #5e6d83;
  border-radius: 100px;
  width: 100%;
  background: transparent;
}

.form-custom textarea {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--subtext);
  padding: 16px 20px;
  border: 1px solid #5e6d83;
  border-radius: 14px;
  background: transparent;
  width: 100%;
  min-height: 120px;
}

.form-textarea {
  margin-bottom: 36px;
}

.form-custom .btn {
  margin-left: auto;
  margin-right: auto;
}

.form-custom .choices__inner {
  background: transparent;
  border: 1px solid #5e6d83;
  border-radius: 100px;
  padding: 16px 20px;
  height: 58px;
  transition: all 0.3s;
  transition-delay: 0.6s;
}

.form-custom .choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 16px;
}

.form-custom .choices[data-type*="select-one"]::after {
  content: "";
  height: 20px;
  width: 20px;
  border: none;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -8px;
  pointer-events: none;
  background-image: url("../images/header/arrow-down.svg");
  background-repeat: no-repeat;
  transition-duration: var(--transition);
  background-position: center;
}

.form-custom .choices[data-type*="select-one"].is-open::after {
  transform: rotate(180deg);
}

.form-custom .choices__list--dropdown,
.choices__list[aria-expanded] {
  background: var(--backgrond);
  border: 1px solid #5e6d83;
  border-top: none;
  border-radius: 0 0 29px 29px;
  transition-duration: var(--transition);
}

.form-custom .choices.is-open .choices__inner {
  border-radius: 29px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  margin-top: 0px;
  background: var(--backgrond);
  z-index: 10;
  position: relative;
  transition-delay: 0s;
  transition-duration: 0.6s;
}

.form-custom .choices__list--dropdown {
  max-height: 0;
  display: flex;
  transition: all 0.6s;
  background: transparent;
  border-top: none;
  border-bottom: none;
  transition: all 0.6s;
  transition-delay: 0.4s;
}

.form-custom .is-open .choices__list--dropdown .choices__list {
  max-height: 150px;
}

.choices {
  overflow: visible;
}

.form-custom .is-open .choices__list--dropdown {
  border-color: #5e6d83;
  margin-top: -2px;
  display: flex;
  max-height: 150px;
  z-index: 10;
  padding-bottom: 10px;
  border: 1px solid #5e6d83;
  border-top: none;
  height: auto;
  background: var(--backgrond);
}

.form-custom .choices__item--choice:nth-child(1) {
  display: none;
}

.form-custom .choices__item.choices__item--choice {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--subtext);
  padding: 12px;
}

.form-custom .choices__item.choices__item--choice:hover {
  background: transparent;
}

.form-custom .choices__list {
  padding-left: 20px;
  padding-right: 27px;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--subtext);
  margin-top: 0;
  overflow: auto;
}

.form-custom .choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
  opacity: 0.7;
}

/* Продвинутая кастомизация для WebKit браузеров */
.form-custom .choices__list::-webkit-scrollbar {
  width: 3px;
}

.form-custom .choices__list::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
}

.form-custom .choices__list::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 100px;
  transition: background-color 0.3s ease;
  width: 3px;
  height: 69px;
}

.form-custom .choices__list::-webkit-scrollbar-thumb:hover {
  background-color: var(--text);
}

.form-custom .choices__list.choices__list--single {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
}

.popup-form {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-duration: var(--transition);
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: auto;
}

.shadow {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-duration: var(--transition);
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
}

.popup-form.show .shadow {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.popup-wrapper {
  padding: 48px;
  border: 3px solid var(--text);
  border-radius: 48px;
  background: var(--backgrond);
  transform: translateY(-200%);
  transition-duration: var(--transition);
  z-index: 20;
  max-width: 85vw;
  width: 100%;
  z-index: 20;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin: 10px auto;
}

.popup-close {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background: transparent;
}

.popup-wrapper b {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

.popup-wrapper p {
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: var(--subtext);
  margin-bottom: 35px;
}

.popup-form.show .popup-wrapper {
  transform: translateY(0%);
}

.popup-form.show {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
}

.search-circle-white {
  position: absolute;
  top: -30%;
  left: -20%;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: #a3a3a3;
  filter: blur(190px);
  z-index: -2;
}

// -----------form--------------------------------

@media (max-width: 1280px) {
  .burger {
    display: block;
  }

  .header-nav {
    display: none;
  }

  .footer-left {
    width: 40%;
  }
  .footer-right {
    width: 60%;
  }
  .footer-wrap {
    margin-left: 70px;
    margin-right: 70px;
  }
  .header-bigMenu .header-navigation {
    padding-left: 40px;
  }
  .popup-form .form-custom {
    padding: 30px;
  }
}

@media (max-width: 992px) {
  .footer-right {
    padding-left: 0;
  }
  .footer-wrap {
    margin-left: 0px;
    margin-right: 0px;
  }
  .popup-wrapper {
    padding: 24px;
    border-radius: 24px;
  }
  .popup-form .form-custom {
    padding: 0;
    border: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
  .header-row {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-bigMenu .header-navigation {
    padding-left: 16px;
  }
  .footer {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 42px;
  }
  .footer-wrap {
    flex-direction: column;
    gap: 48px;
  }
  .footer-left {
    width: 100%;
    gap: 24px;
  }
  .footer-left form {
    order: 1;
  }
  .footer-left .btn {
    max-width: none;
    width: 100%;
    justify-content: center;
  }
  .footer-right {
    width: 100%;
  }
  .footer-info-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .procherk {
    display: none;
  }
  .footer-info-row dt {
    order: 1;
  }
  .footer-info-row dd {
    color: var(--subtext);
  }
  .footer-right-blocks {
    flex-direction: column;
    gap: 58px;
  }
  .footer-language span {
    text-align: left;
    margin-bottom: 24px;
  }
  .header-search input {
    min-width: auto;
    opacity: 0;
    padding-left: 18px;
  }
  .header-search button {
    left: auto;
    right: 4px;
  }
  .burger {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 5px;
  }
  .burger svg {
    width: 20px;
    height: 20px;
  }

  .popup-wrapper b {
    font-size: 24px;
  }
  .popup-wrapper {
    max-width: 90vw;
  }
  .popup-close {
    padding: 4px;
    width: 30px;
    height: 30px;
    margin-top: -4px;
    margin-right: -4px;
  }
  .popup-close svg {
    width: 22px;
    height: 22px;
  }
  .popup-form .form-custom {
    padding-left: 12px;
    padding-right: 12px;
  }
  .bg-bigMenu {
    display: none;
  }
  .bg-circle-bigMenu {
    display: none;
  }
  .header-bigMenu .menu-item a {
    padding: 12px 16px;
  }
  .header-bigMenu .menu-item .menu-item-children-link {
    padding: 12px 16px;
  }
  .header-bigMenu .sub-menu.show {
    margin-top: 10px;
  }
  .header-bigMenu .sub-menu {
    gap: 48px;
  }
  .burger::after {
    width: 20px;
    height: 20px;
  }

  .header {
    padding-top: 15px;
  }

  .header-bigMenu-search .search-block {
    padding-right: 16px;
    padding-left: 16px;
  }

  .header:has(.show) {
    padding-bottom: 40px;
  }
  .header-search-title {
    padding-left: 0;
    padding-right: 0;
  }
  .header-bigMenu-search .sub-menu {
    padding-left: 0;
  }
  .search-wrapper {
    padding-left: 0;
  }
  .red-btn {
    padding: 12px 20px;
  }
  .btn {
    padding: 12px 20px;
  }
  .about-team-title {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .form-row {
    flex-direction: column;
    gap: 50px;
  }
}
