.project-quote {
  padding-top: 96px;
  padding-bottom: 96px;
}

.project-quote.project-quote-white {
  background: #fafafa;
}

.project-quote blockquote {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: var(--text);
  margin-bottom: 32px;
}

.project-quote-white.project-quote blockquote {
  color: #181d27;
}

.project-quote-white .project-quote-name {
  color: #181d27;
}

.project-quote-avatar {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-quote-avatar img {
  margin-bottom: 32px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.project-quote-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: var(--text);
  margin-bottom: 4px;
}

.project-quote-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--subtext);
}

@media (max-width: 767px) {
  .project-quote {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .project-quote blockquote {
    max-width: none;
    font-size: 24px;
  }

  .project-quote.project-quote-white {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
