.heroSection {
  padding-top: 100px;
  position: relative;
}

.heroSection-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 40px;
  max-width: 70%;
}

.hero-buttons {
  display: flex;
  gap: 24px;
  margin-bottom: 200px;
}

.hero-row {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}

.hero-row p {
  display: block;
  line-height: 125%;
  position: relative;
  padding-right: 14px;
  max-width: 390px;
}

.hero-row p::after {
  content: "";
  width: 1px;
  height: 92px;
  background: var(--text);
  position: absolute;
  top: -8px;
  right: 0;
}

.hero-row p:last-child:after {
  display: none;
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  z-index: -1;
  mix-blend-mode: plus-lighter;
  max-width: 890px;
}

.hero-bg img {
  width: 100%;
  height: 100%;
}

.heroSection .bg-circle-red {
  width: 660px;
  height: 660px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.technologies-gif {
  mix-blend-mode: lighten;
  pointer-events: none;
}

.technologies-section .bg-circle-white {
  position: absolute;
  top: -30%;
  left: 0;
  max-width: 792px;
  max-height: 792px;
  display: flex;
  align-items: center;
  justify-content: center;
}
