.project-tasks-slider {
  padding-top: 82px;
  padding-bottom: 100px;
}

.project-tasks-slider-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 36px;
}

.project-tasks-slider-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #fff;
}

.project-tasks-slider-buttons {
  display: flex;
  gap: 18px;
}

.swiper-project-tasks-slider {
  padding-top: 28px;
  padding-bottom: 20px;
}

.project-tasks-slider-block {
  padding: 24px;
  border: 1px solid var(--text);
  border-radius: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--subtext);
}
