.project-tasks-slider {
  padding-top: 82px;
  padding-bottom: 100px;
  position: relative;
}

.project-tasks-slider-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 36px;
}

.project-tasks-slider-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #fff;
}

.project-tasks-slider-buttons {
  display: flex;
  gap: 18px;
  z-index: 6;
}

.swiper-project-tasks-slider .swiper-slide {
  height: auto;
}

.swiper-project-tasks-slider {
  padding-top: 28px;
  padding-bottom: 20px;
}

.project-tasks-slider-block {
  padding: 24px;
  border: 1px solid var(--text);
  border-radius: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--subtext);
  height: 100%;
}

.project-tasks-slider-circle-white {
  position: absolute;
  top: 30%;
  right: -10%;
  background: #a3a3a3;
  filter: blur(210px);
  width: 400px;
  height: 400px;
  z-index: 2;
}

.swiper-project-tasks-slider {
  position: relative;
}

.project-tasks-slider-circle-white-blur {
  content: "";
  position: absolute;
  top: 55%;
  right: -15%;
  width: 400px;
  height: 400px;
  transform: translate(0%, -50%);
  border-radius: 100%;
  background: #a3a3a3;
  filter: blur(70px);
  z-index: 4;
}

@media (max-width: 767px) {
  .project-tasks-slider-buttons {
    display: none;
  }
  .project-tasks-slider-circle-white-blur {
    display: none;
  }
  .project-tasks-slider {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .project-tasks-slider-circle-white {
    z-index: -2;
    top: 20%;
    right: -30%;
  }

  .swiper-project-tasks-slider {
    overflow: visible;
  }
}
