.custom-textBlock {
  position: relative;
  margin-top: 133px;
  margin-bottom: 96px;
}

.custom-textBlock::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 440px;
  border-radius: 100%;
  background: var(--accent);
  filter: blur(190px);
  z-index: -2;
}

.custom-textBlock-wrapper {
  border: 1px solid var(--accent);
  border-radius: 36px;
  padding: 48px 48px 16px 48px;
  overflow: hidden;
  position: relative;
}

.custom-textBlock-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: var(--text);
}

.custom-textBlock-wrapper-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  max-width: 60%;
}
.custom-textBlock-wrapper-bg {
  max-width: 50%;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  mix-blend-mode: lighten;
  z-index: -1;
  height: 120%;
}

.custom-textBlock-wrapper-bg img {
  width: 100%;
  height: 100%;
  object-position: left;
}

.custom-textBlock-wrapper-info li {
  list-style: disc;
}

.custom-textBlock-wrapper-info ul {
  padding-left: 20px;
}

@media (max-width: 992px) {
  .custom-textBlock-wrapper-bg {
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  .custom-textBlock-wrapper-bg {
    max-width: none;
    top: 88%;
    height: auto;
  }

  .custom-textBlock-wrapper {
    padding: 24px 16px;
  }

  .custom-textBlock-title {
    font-size: 24px;
  }
  .custom-textBlock-wrapper-info {
    max-width: none;
  }
  .custom-textBlock-wrapper-info .btn {
    margin-top: 36px;
  }

  .custom-textBlock::before {
    display: none;
  }
  .custom-textBlock {
    margin-top: 110px;
    margin-bottom: 92px;
  }
}
