.services-hero {
  padding-top: 60px;
  position: relative;
}

.services-hero-info {
  max-width: 1000px;
}

.services-hero-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 72px;
}

.servicees-hero-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #fff;
  margin-bottom: 124px;
  max-width: 770px;
}

.services-hero-buttons {
  display: flex;
  gap: 24px;
}

.services-hero-bg {
  position: absolute;
  top: 25%;
  right: 5%;
  z-index: -1;
}

.services-hero-2 .services-hero-bg {
  right: 0;
  max-width: 50%;
}

.services-hero-circle-red {
  position: absolute;
  top: 15%;
  right: -10%;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  background: var(--accent);
  filter: blur(190px);
  z-index: -3;
}

.services-hero-squad-one {
  position: absolute;
  bottom: 10%;
  right: -50px;
  width: 120px;
  height: 120px;
  z-index: -2;

  background: rgba(10, 29, 42, 0.6);
  box-shadow: inset 0 0 100px rgba(115, 115, 115, 0.2);
}

.services-hero-circle-white {
  position: absolute;
  bottom: -10%;
  left: -10%;
  width: 400px;
  height: 400px;
  background: #a3a3a3;
  filter: blur(190px);
  z-index: -3;
}

.services-hero-squad-two {
  margin-top: 48px;
  margin-left: 61px;
  width: 120px;
  height: 120px;
  z-index: 1;
  position: relative;
  opacity: 0.2;
}

.services-hero-3 .services-hero-bg {
  right: 0;
  top: 0%;
  max-width: 33%;
}

.services-hero-3 .services-hero-bg img {
  width: 100%;
}

@media (max-width: 1280px) {
  .services-hero-circle-white {
    display: none;
  }
  .services-hero-squad-two {
    position: absolute;
    bottom: -240px;
    left: 0;
    margin-left: 0;
    margin-top: 0;
  }
  .services-hero {
    margin-bottom: 120px;
  }
  .services-hero-bg {
    top: 45%;
    right: -3%;
  }
  .services-hero-squad-one {
    bottom: -18%;
  }
}

@media (max-width: 992px) {
  .services-hero-squad-two,
  .services-hero-squad-one {
    display: none;
  }

  .services-hero-bg {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .services-hero {
    padding-top: 35px;
    margin-bottom: 72px;
  }
  .services-hero-title {
    font-size: 38px;
    letter-spacing: normal;
    margin-bottom: 36px;
  }
  .servicees-hero-text {
    font-size: 16px;
    margin-bottom: 48px;
  }
  .services-hero-buttons {
    flex-direction: column;
  }
  .services-hero-bg {
    top: 20%;
    right: 0%;
  }

  .services-hero-bg {
    z-index: -3;
  }

  .services-hero-circle-red {
    right: -50%;
  }
  .services-hero-3 .services-hero-bg {
    top: 40%;
  }
}
