.project-decisions {
  padding-top: 96px;
  padding-bottom: 96px;
}

.project-decisions-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.project-decisions-wrapper {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-decisions-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 390px;
}

.project-decisions-block-icon {
  width: 52px;
  height: 52px;
  border-radius: 1000px;
  background: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.project-decisions-block span {
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: var(--text);
  display: block;
  margin-bottom: 10px;
}

.project-decisions-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--subtext);
}

@media (max-width: 767px) {
  .project-decisions {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .project-decisions-title {
    text-align: left;
    text-transform: none;
  }
}
