.project-dashboard {
  padding-top: 100px;
  padding-bottom: 96px;
  background: #fff;
}

.project-dashboard-wrapper {
  position: relative;
}

.project-dashboard-subtitle {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #4f5ae1;
  margin-bottom: 20px;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.project-dashboard-title {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #181d27;
  margin-bottom: 64px;
}

.project-dashboard-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 16px;
}

.project-dashboard-buttons .swiper-button-custom {
  border-color: var(--backgrond);
}

.project-dashboard-img {
  display: flex;
  justify-content: center;
  position: relative;
}

.project-dashboard-tags {
  display: flex;
  margin-top: 60px;
}

.project-dashboard-tag-block {
  width: 100%;
  display: flex;
  gap: 32px;
  width: 0;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition-duration: var(--transition);
}

.project-dashboard-tag-block.active {
  width: 100%;
  pointer-events: visible;
  visibility: visible;
  opacity: 1;
}

.project-dashboard-tag-block.active .project-dashboard-tag {
  pointer-events: visible;
  visibility: visible;
  opacity: 1;
  padding: 4px 12px;
  height: fit-content;
  display: block;
  transition-duration: var(--transition);
}

.project-dashboard-tag {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #181d27;
  border-radius: 16px;
  padding: 0;
  background: #f9f5ff;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.swiper-project-dashboard .swiper-slide {
  height: auto;
}

.project-dashboard-img {
  height: 100%;
}

.swiper-pagination-project-dashboard {
  display: none;
}

.project-dashboard-img-video {
  position: absolute;
  top: 30px;
  left: 51%;
  transform: translate(-51%, 0%);
  max-width: 80%;
  max-height: 85%;
  width: 100%;
  height: 100%;
}

.project-dashboard-img-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 1280px) {
  .project-dashboard-img-2 img {
    object-fit: inherit;
  }
}

@media (max-width: 767px) {
  .project-dashboard {
    padding-top: 32px;
    padding-bottom: 0;
  }
  .project-dashboard-title {
    font-size: 24px;
  }
  .project-dashboard-tag-block {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .project-dashboard-tag {
    max-width: fit-content;
  }
  .project-dashboard-tags {
    margin-top: 32px;
  }
  .project-dashboard-buttons {
    display: none;
  }
  .swiper-pagination-project-dashboard {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    margin-top: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .swiper-pagination-project-dashboard
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--accent);
  }

  .swiper-pagination-project-dashboard .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid var(--accent);
    opacity: 1;
  }

  .project-dashboard-tag {
    font-size: 18px;
  }
  .project-dashboard-img-video {
    top: 10px;
  }
  .project-dashboard-img-video video {
    border-radius: 4px;
  }
}
