.cta-mainSection {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
}

.cta-mainSection-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0 auto 48px;
  max-width: 950px;
}

.cta-mainSection .bg-circle-red {
  position: absolute;
  top: -20%;
  left: 0%;
  max-width: 989px;
  width: 100%;
  max-height: 1289px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  pointer-events: none;
}
.cta-mainSection .bg-circle-red svg {
  max-height: 970px;
}

.cta-mainSection .bg-circle {
  position: absolute;
  top: -26%;
  right: 0%;
  mix-blend-mode: lighten;
  z-index: 4;
  pointer-events: none;
}
