.service-grid {
  position: relative;
  padding-bottom: 64px;
}

.service-grid-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #fff;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--accent);
  margin-bottom: 24px;
  text-align: center;
}

.service-grid-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.service-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.services-grid-block {
  position: relative;
  padding: 88px 60px 36px;
  backdrop-filter: blur(120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
.services-grid-block::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: linear-gradient(45deg, #172632 0%, transparent 100%);
  z-index: -1;
  border-radius: 22px;
}

.services-grid-block::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: linear-gradient(-45deg, #172632 0%, transparent 100%);
  z-index: -1;
  border-radius: 22px;
}

.services-grid-block:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: linear-gradient(-45deg, #172632 0%, transparent 100%);
  z-index: -1;
  border-radius: 22px;
}

.services-grid-block:nth-child(even)::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: linear-gradient(360deg, #172632 0%, transparent 100%);
  z-index: -1;
  border-radius: 22px;
}

.service-grid-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.service-grid-bg img {
  width: 100%;
}

.services-grid-block-icon {
  border-radius: 75px;
  padding: 8px;
  background: linear-gradient(180deg, #172632 0%, rgba(26, 26, 26, 0) 100%);
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 80px;
  z-index: 2;
}

.services-grid-block-icon img {
  position: relative;
  z-index: 3;
}

.services-grid-block-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: linear-gradient(180deg, #172632 0%, rgba(26, 26, 26, 0) 65.8%);
  z-index: 2;
}

.services-grid-block-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border-radius: 100px;
  background: linear-gradient(180deg, #172632 0%, rgba(26, 26, 26, 0) 65.8%);
  z-index: 2;
}

.service-grid-info-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  margin-bottom: 14px;
  z-index: 2;
  position: relative;
}

.service-grid-info-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--subtext);
  z-index: 2;
}

.service-grid-info {
  margin-bottom: 75px;
  z-index: 2;
}

.service-grid-circle-red {
  position: absolute;
  bottom: 20%;
  left: -10%;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  background: var(--accent);
  filter: blur(190px);
  z-index: -1;
}

.service-grid-circle-white {
  position: absolute;
  top: 40%;
  right: -20%;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: #a3a3a3;
  filter: blur(190px);
  z-index: 0;
}

@media (max-width: 767px) {
  .services-grid-block {
    height: auto;
    border-radius: 20px;
    padding: 64px 12px 24px;
  }

  .service-grid-wrapper {
    display: flex;
    gap: 0;
    overflow: visible;
  }
  .swiper.swiper-service-grid {
    overflow: visible;
  }
  .service-grid-title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: normal;
  }
  .services-grid-block-icon {
    margin-bottom: 24px;
  }
  .service-grid-info-title {
    font-size: 24px;
  }
  .service-grid-circle-red {
    bottom: -10%;
  }

  .service-grid-circle-white {
    top: 20%;
    right: -30%;
  }
  .services-grid-block::before,
  .services-grid-block::after {
    opacity: 0.2;
  }
  .service-grid {
    padding-bottom: 72px;
  }
}
