.project-keyFrames {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.project-keyFrames-wrapper {
  display: flex;
  gap: 96px;
  align-items: center;
  justify-content: space-between;
}

.project-keyFrames-1 .project-keyFrames-block {
  order: 1;
  padding-right: 52px;
}

.project-keyFrames-4 .project-keyFrames-block {
  order: 1;
  padding-right: 52px;
}

.project-keyFrames-block {
  max-width: 600px;
  transition-duration: 0.7s;
}

.project-keyFrames-block-icon {
  border: 8px solid #f9f5ff;
  border-radius: 28px;
  width: 48px;
  height: 48px;
  background: #f4ebff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.project-keyFrames-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: var(--backgrond);
  text-align: center;
}

.project-keyFrames-block p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #535862;
  margin-bottom: 32px;
}

.project-keyFrames-list {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-keyFrames-list li p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #535862;
  margin-bottom: 0;
}

.project-keyFrames-list li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.project-keyFrames-check {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background: #f4ebff;
  width: 28px;
  height: 28px;
}

.project-keyFrames-2 .project-keyFrames-block {
  padding-left: 52px;
}

.project-keyFrames-3 .project-keyFrames-block {
  padding-left: 52px;
}

.project-keyFrames-slider .project-keyFrames-img {
  max-width: 50%;
<<<<<<< HEAD
  width: auto;
}

.project-keyFrames-slider .project-keyFrames-img img {
  width: auto;
=======
>>>>>>> 6fef2a44c2a836618c4ea591efd3f6b62aadc655
}

.swiper-keyFrames .swiper-slide {
  max-width: fit-content;
}

.project-keyFrames-img {
  transition-duration: 0.7s;
<<<<<<< HEAD
  max-width: 50%;
  width: 100%;
}

.project-keyFrames-img img {
  width: 100%;
}

.keyFrames-blocks {
  transition-duration: 0.7s;
  padding-left: 52px;
}

.project-keyFrames-5 {
  align-items: flex-start;
  height: auto;
}

.project-keyFrames-5 .project-keyFrames-img {
  max-width: 100%;
  width: 100%;

  height: fit-content;
  text-align: center;
}
.keyFrames-wrapper {
  width: 100%;
  position: sticky;
  top: 20%;
}

.keyFrames-blocks {
  display: flex;
  flex-direction: column;
  gap: 24px;
=======
>>>>>>> 6fef2a44c2a836618c4ea591efd3f6b62aadc655
}

// -----------frames-1---------------------

.project-keyFrames-1 .project-keyFrames-img {
  transform: translateX(-100%);
}

.project-keyFrames-1 .project-keyFrames-block {
  transform: translateX(100%);
}

.project-keyFrames-1.visible .project-keyFrames-img {
  transform: translateX(0%);
}

.project-keyFrames-1.visible .project-keyFrames-block {
  transform: translateX(0%);
}

// -----------frames-1---------------------

// -----------frames-2---------------------

.project-keyFrames-2 .project-keyFrames-img {
<<<<<<< HEAD
  transform: translateX(0%);
  opacity: 0;
}

.project-keyFrames-2 .project-keyFrames-block {
  transform: translateX(500%);
=======
  transform: translateX(100%);
}

.project-keyFrames-2 .project-keyFrames-block {
  transform: translateX(-100%);
>>>>>>> 6fef2a44c2a836618c4ea591efd3f6b62aadc655
}

.project-keyFrames-2.visible .project-keyFrames-img {
  transform: translateX(0%);
<<<<<<< HEAD
  opacity: 1;
=======
>>>>>>> 6fef2a44c2a836618c4ea591efd3f6b62aadc655
}

.project-keyFrames-2.visible .project-keyFrames-block {
  transform: translateX(0%);
}

// -----------frames-2---------------------

// -----------frames-3---------------------

.project-keyFrames-3 .project-keyFrames-img {
<<<<<<< HEAD
  transform: translate(-500%, -10%);
}

.project-keyFrames-3 .project-keyFrames-block {
  transform: translate(500%, 10%);
}

.project-keyFrames-3.visible .project-keyFrames-img {
  transform: translate(0%, 0%);
}

.project-keyFrames-3.visible .project-keyFrames-block {
  transform: translate(0%, 0%);
=======
  transform: translateX(100%);
}

.project-keyFrames-3 .project-keyFrames-block {
  transform: translateX(-100%);
}

.project-keyFrames-3.visible .project-keyFrames-img {
  transform: translateX(0%);
}

.project-keyFrames-3.visible .project-keyFrames-block {
  transform: translateX(0%);
>>>>>>> 6fef2a44c2a836618c4ea591efd3f6b62aadc655
}

// -----------frames-3---------------------

// -----------frames-4---------------------

.project-keyFrames-4 .project-keyFrames-img {
  transform: translateX(-100%);
}

.project-keyFrames-4 .project-keyFrames-block {
  transform: translateX(100%);
}

.project-keyFrames-4.visible .project-keyFrames-img {
  transform: translateX(0%);
}

.project-keyFrames-4.visible .project-keyFrames-block {
  transform: translateX(0%);
}

// -----------frames-4--------------------

<<<<<<< HEAD
// -----------frames-5---------------------

.project-keyFrames-5 .project-keyFrames-img {
  opacity: 0;
  transform: translateX(0%);
}

.project-keyFrames-5 .keyFrames-blocks {
  transform: translateX(-100%);
}

.project-keyFrames-5.visible .project-keyFrames-img {
  opacity: 1;
  transform: translateX(0%);
}

.project-keyFrames-5.visible .project-keyFrames-img img {
  width: auto;
}

.project-keyFrames-5.visible .keyFrames-blocks {
  transform: translateX(0%);
}

// -----------frames-5--------------------

=======
>>>>>>> 6fef2a44c2a836618c4ea591efd3f6b62aadc655
@media (max-width: 767px) {
  .project-keyFrames-wrapper {
    gap: 32px;
    flex-direction: column;
  }
  .project-keyFrames-block {
    padding-left: 16px;
    padding-right: 16px;
  }
  .project-keyFrames-1 .project-keyFrames-block {
    padding-right: 16px;
  }
  .project-keyFrames-2 .project-keyFrames-block {
    padding-left: 16px;
  }
  .project-keyFrames-slider .project-keyFrames-img {
    max-width: 100%;
  }
  .project-keyFrames {
    gap: 60px;
  }
  .project-keyFrames-3 .project-keyFrames-block {
    padding-left: 16px;
  }
<<<<<<< HEAD

  .keyFrames-blocks {
    padding-left: 0;
  }
  .project-keyFrames-img {
    max-width: none;
  }
=======
>>>>>>> 6fef2a44c2a836618c4ea591efd3f6b62aadc655
}
