.custom-miniBlocks {
  margin-top: 48px;
  margin-bottom: 72px;
}

.custom-miniBlocks-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  gap: 24px;
}

.custom-miniBlocks-block {
  border: 1px solid var(--text);
  border-radius: 24px;
  padding: 24px 12px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-miniBlocks-block:nth-child(1) {
  grid-column: span 2;
}

.custom-miniBlocks-block:nth-child(3) {
  grid-column: span 2;
}

.custom-miniBlocks-block:nth-child(5) {
  grid-column: span 2;
}

.custom-miniBlocks-block:nth-child(7) {
  grid-column: span 2;
}

.custom-miniBlocks-block:nth-last-child(1),
.custom-miniBlocks-block:nth-last-child(2),
.custom-miniBlocks-block:nth-last-child(3) {
  grid-column: auto;
}

@media (max-width: 767px) {
  .custom-miniBlocks-wrapper {
    display: flex;
    flex-direction: column;
  }
}
