.ourTeam-whiteSection {
  padding-top: 130px;
  padding-bottom: 102px;
  background: var(--text);
  position: relative;
  overflow: hidden;
}

.outTeam-info h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: var(--backgrond);
  margin-bottom: 12px;
  max-width: 790px;
}

.outTeam-info b {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: var(--backgrond);
  margin-bottom: 12px;
  max-width: 720px;
  display: block;
}

.outTeam-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--backgrond);
  display: block;
  max-width: 790px;
}

.team-wrap {
  margin-top: 50px;
  display: flex;
  gap: 52px;
}

.team-img {
  max-width: 205px;
  border-radius: 100px;
  overflow: hidden;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.team-img-1 {
  margin-top: 112px;
}

.team-img-3 {
  position: relative;
  margin-top: 253px;
  margin-left: -82px;
}

.team-img-4 {
  position: relative;
  margin-top: -22px;
  margin-left: -62px;
}

.team-img-5 {
  position: relative;
  margin-top: -325px;
  margin-left: -154px;
}

.team-img-6 {
  position: relative;
  margin-top: 275px;
  margin-left: -154px;
}

.team-img-7 {
  position: relative;
  margin-top: 10px;
  margin-left: -132px;
}

.team-img-8 {
  position: relative;
  margin-top: -265px;
  margin-left: -174px;
}

.ourTeam-whiteSection .btn {
  color: var(--backgrond);
  border: 1px solid var(--backgrond);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.04);
}

.ourTeam-whiteSection .btn img {
  margin-top: 4px;
}

@media (max-width: 1280px) {
  .outTeam-info h2,
  .outTeam-info b,
  .outTeam-info p,
  .ourTeam-whiteSection .btn {
    margin-left: 80px;
  }
}
@media (max-width: 1200px) {
  .outTeam-info h2,
  .outTeam-info b,
  .outTeam-info p,
  .ourTeam-whiteSection .btn {
    margin-left: 0px;
  }
}
@media (max-width: 1050px) {
  .outTeam-info h2,
  .outTeam-info b,
  .outTeam-info p,
  .ourTeam-whiteSection .btn {
    max-width: 500px;
  }
}
@media (max-width: 992px) {
  .team-img-8 {
    margin-top: -165px;
  }
  .team-img-7 {
    margin-top: 100px;
  }
  .team-img-5 {
    margin-left: -100px;
  }
}
@media (max-width: 767px) {
  .ourTeam-whiteSection {
    padding-top: 102px;
  }
  .outTeam-info h2,
  .outTeam-info b,
  .outTeam-info p,
  .ourTeam-whiteSection .btn {
    max-width: none;
  }
  .outTeam-info b {
    font-size: 28px;
  }
  .team-img {
    max-width: 20vw;
  }
  .team-img-1 {
    margin-top: 0px;
  }
  .team-img-2 {
    margin-top: 2vw;
  }
  .team-img-3 {
    position: relative;
    margin-top: -4vw;
    margin-left: 0px;
  }
  .team-img-4 {
    position: relative;
    margin-top: 0px;
    margin-left: 25vw;
    width: 100%;
  }
  .team-img-5 {
    position: relative;
    margin-top: 2vw;
    margin-left: 30vw;
    width: 100%;
  }
  .team-img-6 {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .team-img-7 {
    position: relative;
    margin-top: 20vw;
    margin-left: 0px;
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .team-img-8 {
    position: relative;
    margin-top: 10vw;
    margin-left: 0px;
    grid-column-start: 3;
    grid-row-start: 3;
  }
  .team-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    margin-bottom: 74px;
  }
}/*# sourceMappingURL=ourTeam-whiteSection.css.map */