.project-tasks {
  padding-top: 96px;
  position: relative;
  padding-bottom: 96px;
}

.project-tasks-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: var(--text);
  margin-bottom: 20px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.project-tasks-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--subtext);
  max-width: 60%;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.project-tasks-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: center;
}

.project-tasks-block {
  position: relative;
  box-shadow: 0 118px 70px 0 rgba(6, 33, 76, 0.02),
    0 52px 52px 0 rgba(6, 33, 76, 0.03), 0 28px 13px 0 rgba(6, 33, 76, 0.03);
  max-width: 360px;
}

.project-tasks-main {
  border-radius: 32px;
  padding: 36px 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  height: 100%;
  transition-duration: var(--transition);
}

.project-tasks-back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-duration: var(--transition);
  border: 1px solid var(--accent);
  border-radius: 32px;
  padding: 36px 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: transparent;
}

.project-tasks-back-img {
  display: flex;
  gap: 16px;
}

.project-tasks-main-img {
  margin-bottom: 16px;
}

.project-tasks-main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--backgrond);
  margin-bottom: 0;
}

.project-tasks-main-img {
  max-width: 100px;
}

.project-tasks-block:hover .project-tasks-back {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
}

.project-tasks-block:hover .project-tasks-main {
  opacity: 0;
  pointer-events: hidden;
  visibility: hidden;
}

.project-tasks-back p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

.project-tasks-back-img {
  margin-bottom: 16px;
}

.project-tasks-circle-white {
  position: absolute;
  bottom: 15%;
  left: 20%;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: #a3a3a3;
  filter: blur(190px);
  z-index: -2;
}

@media (max-width: 1280px) {
  .project-tasks-wrapper {
    gap: 33px;
    row-gap: 24px;
  }
}

@media (max-width: 767px) {
  .project-tasks-wrapper {
    gap: 33px;
    row-gap: 24px;
  }
  .project-tasks {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .project-tasks-title {
    max-width: none;
    font-size: 24px;
  }
  .project-tasks-text {
    max-width: none;
  }

  .project-tasks-main {
    padding: 36px 10px;
  }
  .project-tasks-back {
    padding: 36px 10px;
  }
  .project-tasks-circle-white {
    display: none;
  }
}
