@charset "UTF-8";
.project-services {
  position: relative;
}

.project-services-wrapper {
  border-bottom: 1px solid var(--accent);
  border-top: 1px solid var(--accent);
  padding: 34px 10px 42px;
}

.project-services-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--subtext);
  margin-bottom: 24px;
}

.project-services-rows {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 48px;
}

.project-services-row {
  display: flex;
  gap: 12px;
  align-items: center;
}

.project-services-row:hover .project-services-row-arrow {
  background: var(--accent);
}

.project-services-row-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 135px;
  background: #2f3f4e;
  transition-duration: var(--transition);
}

.project-services-row span {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #fff;
}

.project-services-technologies p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--subtext);
  margin-bottom: 24px;
}

.project-services-technologies-wrap {
  display: flex;
  gap: 48px;
}

.project-services-technologies-block img {
  max-width: 100px;
}

.project-services-technologies-block p {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  margin-bottom: 0;
}

.project-services-technologies-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.project-services-circle-red {
  position: absolute;
  bottom: 0;
  left: 15%;
  border-radius: 100%;
  background: var(--accent);
  filter: blur(190px);
  width: 440px;
  height: 440px;
  z-index: -2;
  animation: moveRedCircle 20s linear infinite;
}

@keyframes moveRedCircle {
  0% {
    transform: translate(0%, 0%);
  }
  10% {
    transform: translate(20%, 0%);
  }
  20% {
    transform: translate(20%, 20%);
  }
  30% {
    transform: translate(30%, 20%);
  }
  35% {
    transform: translate(30%, 50%);
  }
  40% {
    transform: translate(30%, 50%);
  }
  50% {
    transform: translate(-25%, 50%);
  }
  60% {
    transform: translate(-10%, 50%);
  }
  70% {
    transform: translate(-10%, -30%);
  }
  80% {
    transform: translate(-30%, -30%);
  }
  90% {
    transform: translate(-15%, -15%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@media (max-width: 767px) {
  .project-services-row-arrow {
    padding: 4px 8px;
  }
  .project-services-row span {
    font-size: 18px;
  }
  .project-services-technologies-block img {
    max-width: 64px;
  }
  .project-services-technologies-wrap {
    gap: 42px;
    width: 100%;
    overflow: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    /* Для Firefox */
    scrollbar-width: none;
  }
  .project-services-technologies-wrap::-webkit-scrollbar {
    display: none;
  }
  .project-services-technologies-block {
    scroll-snap-align: start;
  }
  .project-services-circle-red {
    display: none;
  }
}/*# sourceMappingURL=project-services.css.map */