.services-accordeonV2 {
  position: relative;
  padding-bottom: 68px;
}

.services-accordeonV2-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #fff;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--accent);
  margin-bottom: 24px;
}

.services-accordeonV2-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 48px;
}

.accordion-details {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.accordion-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-number {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 72px;
  line-height: 125%;
  letter-spacing: -0.02em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6196078431) 23.75%, rgba(217, 217, 217, 0) 70.71%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  position: relative;
  transition-duration: 0.7s;
}

.accordion-sum-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.accordion-title {
  max-width: 80%;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #fff;
  transition-duration: 0.7s;
}

.accordion-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: 1px solid var(--text);
}

.accordion-arrow img {
  transition-duration: 0.7s;
}

.accordion-content {
  position: relative;
}

.accordion-content-bg {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 85%;
  width: 100%;
  mix-blend-mode: lighten;
  opacity: 0;
  transition-duration: 0.3s;
  height: 100%;
}

.accordion-content-bg img {
  width: 100%;
  height: 100%;
}

.accordion-content-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  display: block;
  margin-bottom: 64px;
  max-width: 75%;
}

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.7s;
}

.accordion-content-body {
  overflow: hidden;
  padding-left: 24px;
}

.accordion-details[open] + .accordion-content {
  grid-template-rows: 1fr;
  margin-top: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--accent);
}

.accordion-details[open] + .accordion-content .accordion-content-bg {
  opacity: 1;
}

.accordion-details[open] .accordion-number {
  color: var(--accent);
  background: transparent;
  -webkit-text-fill-color: var(--accent);
}

.accordion-details[open] .accordion-arrow img {
  transform: rotate(-90deg);
}

.accordion-details[open] + .accordion-content .accordion-content-body {
  padding-top: 10px;
}

.accordion-details[open] .accordion-title {
  font-size: 28px;
}

.services-accordeonV2-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accordion-details:hover .accordion-title {
  color: var(--accent);
}

.services-accordeonV2-circle-white {
  position: absolute;
  bottom: 20%;
  right: -20%;
  width: 400px;
  height: 400px;
  background: #a3a3a3;
  filter: blur(190px);
  z-index: -2;
  border-radius: 100%;
}

.services-accordeonV2.services-accordeonV2-white {
  padding-top: 60px;
  padding-bottom: 56px;
  background: #edeef4;
}

.services-accordeonV2.services-accordeonV2-white .services-accordeonV2-title {
  color: var(--backgrond);
}

.services-accordeonV2.services-accordeonV2-white .services-accordeonV2-text {
  color: var(--backgrond);
}

.services-accordeonV2.services-accordeonV2-white .accordeonV2 {
  border-radius: 24px;
  background: var(--backgrond);
}

.services-accordeonV2.services-accordeonV2-white .accordion-details {
  padding-left: 12px;
  padding-right: 12px;
}

.services-accordeonV2.services-accordeonV2-white .accordion-details[open] + .accordion-content {
  grid-template-rows: 1fr;
  margin-top: 18px;
  padding-bottom: 10px;
  border-bottom: none;
}

@media (max-width: 767px) {
  .services-accordeonV2-title {
    font-size: 24px;
  }
  .accordion-number {
    font-size: 42px;
  }
  .accordion-title {
    font-size: 18px;
    max-width: none;
  }
  .accordion-arrow {
    display: none;
  }
  .accordion-details[open] .accordion-title {
    font-size: 18px;
  }
  .accordion-content-bg {
    max-width: 100%;
  }
  .accordion-content-body p {
    max-width: none;
  }
  .services-accordeonV2.services-accordeonV2-white {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .accordion-details {
    padding-left: 12px;
  }
  .services-accordeonV2-text {
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=services-accordeonV2.css.map */