.technologies-section {
  padding-top: 127px;
  padding-bottom: 96px;
  position: relative;
}

.technologies-wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.technologies-info h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
}

.technologies-info b {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: right;
  color: #fff;
  display: block;
  margin-bottom: 20px;
}

.technologies-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: right;
  color: var(--subtext);
}

.technologies-marquee {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.technologies-info {
  max-width: 790px;
}

.marquee-row {
  display: flex;
  gap: 34px;
  max-width: fit-content;
}

.marquee-wrap {
  display: flex;
  gap: 34px;
  animation: marquee 25s infinite linear;
  will-change: transform;
  backface-visibility: hidden;
}

.marquee-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 1px solid var(--accent);
  border-radius: 20px;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.technologies-section .bg-circle-red {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50vw;
  max-height: 726px;
  display: flex;
  align-items: center;
  justify-content: center;
}
