.project-background {
  margin-top: 122px;
  padding-bottom: 96px;
  position: relative;
}

.project-background-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 64px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.project-background p {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.project-background-circle-white {
  position: absolute;
  bottom: 100%;
  right: -10%;
  border-radius: 100%;
  background: #a3a3a3;
  filter: blur(190px);
  width: 400px;
  height: 400px;
  z-index: -2;
}

@media (max-width: 767px) {
  .project-background {
    margin-top: 72px;
    padding-bottom: 72px;
  }
  .project-background-title {
    max-width: none;
    font-size: 32px;
  }
  .project-background p {
    max-width: none;
    font-size: 24px;
  }
}
