.project-background {
  margin-top: 122px;
  padding-bottom: 96px;
}

.project-background-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 64px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.project-background p {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
