.choices,
#form-company {
  max-width: 321px;
}

.cta-form {
  margin-top: 64px;
  padding-bottom: 220px;
  position: relative;
}

.cta-form-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.cta-form-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--subtext);
  margin-bottom: 20px;
}

.cta-form .form-custom {
  max-width: none;
}

.cta-form-circle-red {
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  background: var(--accent);
  filter: blur(190px);
  z-index: -2;
  animation: ctaFormRedCircle 25s infinite forwards linear;
}

@keyframes ctaFormRedCircle {
  0% {
    transform: translate(0%, 0%);
  }

  15% {
    transform: translate(-20%, 20%);
  }

  30% {
    transform: translate(20%, 40%);
  }

  45% {
    transform: translate(-50%, 40%);
  }

  60% {
    transform: translate(-30%, 20%);
  }

  75% {
    transform: translate(-50%, -20%);
  }

  90% {
    transform: translate(40%, -20%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.cta-form-circle-white {
  position: absolute;
  bottom: 10%;
  right: -15%;
  width: 400px;
  height: 400px;
  background: #a3a3a3;
  filter: blur(190px);
  z-index: -2;
}

@media (max-width: 767px) {
  .cta-mainSection .form-custom {
    padding: 0;
    border: none;
  }
  .form-row {
    flex-direction: column;
    gap: 50px;
  }

  .choices,
  #form-company {
    max-width: none;
  }

  .cta-form .form-custom {
    padding: 12px;
    border: none;
  }

  .cta-form-circle-red {
    top: 0;
    bottom: auto;
    right: -60%;
    left: auto;
    animation: none;
  }

  .cta-form-circle-white {
    top: 0;
    bottom: auto;
    right: -80%;
    left: auto;
    opacity: 0.8;
  }
  .cta-form {
    padding-bottom: 44px;
  }
}
